body {
    background-color:#ecf0f1;
}

h1 {
    color:#34495e;
    transition: color .5s ease-in-out; /* 색이 이걸로/다른 걸로 변화할 때 천천히 변화함 */
}

.form, 
.greeting { 
    display: none;
}

.showing { /* 해당 클래스를 통해, 인풋 박스와 인사말을 보여줬다 지웠다 함 */
    display: block;
}

/* 애니메이션 생성 */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* +로 하면 (다른 우선순위랑 상관없이 z-index값들만 비교하여) 앞쪽으로, -로 하면 뒤쪽으로 */
    /* 같은 level인 경우, 나중에 배치된 것이 앞에 표시 */
    /* position이 static이 아니어야 적용됨 */
    z-index: -1; 
    animation: fadeIn 0.5s linear;
}